In [3]:
import pandas as pd
import joblib

In [11]:
df = pd.read_excel('../data/jsl_index.xlsx',index_col='date')

In [8]:
df.head()

               index
date
2022-01-07  2068.342
2022-01-06  2081.413
2022-01-05  2069.925
2022-01-04  2089.398
2021-12-31  2073.268

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 978 entries, 2022-01-07 to 2017-12-29
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   978 non-null    float64
dtypes: float64(1)
memory usage: 15.3 KB

In [12]:
joblib.dump(df,'jslindex.job') # 保存

['jslindex.job']

In [13]:
df.head()

               value
date
2022-01-17  2074.948
2022-01-14  2051.114
2022-01-13  2068.489
2022-01-12  2083.196
2022-01-11  2063.531

In [45]:
v=df['value'].values

In [15]:
len(v)

984

In [16]:
v[0]

2074.948

In [46]:
v=v[::-1]

In [18]:
v[0]

1000.0

In [40]:
max_withdraw = 0.0
high=0.0
low=0.0

In [49]:
for i in v:
    if (i - high)/high>max_withdraw:
        max_withdraw = (i-high)/high
        high = i

In [39]:
max_withdraw

-1.0

In [51]:
type(v[-1])

numpy.float64