In [1]:
path = '../data/'
file='bond_redeem_price.xlsx'
import pandas as pd
import os

In [2]:
df = pd.read_excel(os.path.join(path,file))

In [3]:
df.head()

   Unnamed: 0    code    name  redeem_price
0           0  127013    创维转债         113.0
1           1  113541    荣晟转债         110.0
2           2  113568    新春转债         118.0
3           3  127003    海印转债         110.0
4           4  132008  17山高EB         106.0