In [21]:
import pandas as pd
import os
import numpy as np
import datetime
root_path = '/home/xda/hub/convertible_bond/data'

In [43]:
file = os.path.join(root_path,'2022-01-08强赎数据.xlsx',)
# df = pd.read_excel(file,dtype={'last_date':np.datetime64})
df = pd.read_excel(file)

In [36]:
type(df.iloc[0]['last_date'])

datetime.datetime

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   code              222 non-null    int64
 1   name              222 non-null    object
 2   price             222 non-null    float64
 3   zgcode            222 non-null    int64
 4   zgname            222 non-null    object
 5   zgprice           222 non-null    float64
 6   remain_scale      222 non-null    float64
 7   put_option        222 non-null    float64
 8   release_time      222 non-null    datetime64[ns]
 9   last_date         222 non-null    datetime64[ns]
 10  contact_end_date  222 non-null    datetime64[ns]
 11  duration_year     222 non-null    float64
 12  reseaon           222 non-null    object
dtypes: datetime64[ns](3), float64(5), int64(2), object(3)
memory usage: 22.7+ KB

In [31]:
df.head()

,code,name,price,zgcode,zgname,zgprice,remain_scale,put_option,release_time,last_date,contact_end_date,duration_year,reseaon
0,110034,九州转债,107.730,600998,九州通,15.00,0.0,14.982,2016-01-15,2021-12-30 00:00:00,2022-01-15,6,到期
1,123053,宝通转债,132.101,300031,宝通科技,5.00,0.0,1.308,2020-06-05,2021-12-30 00:00:00,2026-06-04,1.6,强赎
2,113536,三星转债,121.830,603578,三星新材,1.92,0.0,0.018,2019-05-31,2021-12-30 00:00:00,2025-05-30,2.6,强赎
3,113607,伟20转债,164.910,603568,伟明环保,12.00,0.0,0.005,2020-11-02,2021-12-28 00:00:00,2026-11-01,1.2,强赎
4,113528,长城转债,258.950,603897,长城科技,6.34,0.0,0.023,2019-03-01,2021-12-23 00:00:00,2025-03-01,2.8,强赎

In [ ]:
# df['last_date']=pd.to_datetime(df['last_date'],format="%Y-%m-%d %H:%M:%S")

In [41]:
df['last_date']=df['last_date'].map(lambda x:str(x))

In [42]:
df.head(1)

,code,name,price,zgcode,zgname,zgprice,remain_scale,put_option,release_time,last_date,contact_end_date,duration_year,reseaon
0,110034,九州转债,107.73,600998,九州通,15.0,0.0,14.982,2016-01-15,2021-12-30 00:00:00,2022-01-15,6,到期

In [46]:

df=df[df['last_date']>datetime.datetime.strptime('2018-01-01',"%Y-%m-%d")]
# t= datetime.datetime.strptime('2018-01-01','%Y-%m-%d')
# df[df['last_date']>t]

In [48]:
df.head()

,code,name,price,zgcode,zgname,zgprice,remain_scale,put_option,release_time,last_date,contact_end_date,duration_year,reseaon
0,110034,九州转债,107.730,600998,九州通,15.00,0.0,14.982,2016-01-15,2021-12-30,2022-01-15,6.0,到期
1,123053,宝通转债,132.101,300031,宝通科技,5.00,0.0,1.308,2020-06-05,2021-12-30,2026-06-04,1.6,强赎
2,113536,三星转债,121.830,603578,三星新材,1.92,0.0,0.018,2019-05-31,2021-12-30,2025-05-30,2.6,强赎
3,113607,伟20转债,164.910,603568,伟明环保,12.00,0.0,0.005,2020-11-02,2021-12-28,2026-11-01,1.2,强赎
4,113528,长城转债,258.950,603897,长城科技,6.34,0.0,0.023,2019-03-01,2021-12-23,2025-03-01,2.8,强赎

In [49]:
df=df[~df['name'].str.contains('B')]

In [51]:
len(df)

167

In [57]:
df=df[df['reseaon']!='到期']

In [58]:
df.head()

,code,name,price,zgcode,zgname,zgprice,remain_scale,put_option,release_time,last_date,contact_end_date,duration_year,reseaon
1,123053,宝通转债,132.101,300031,宝通科技,5.00,0.0,1.308,2020-06-05,2021-12-30,2026-06-04,1.6,强赎
2,113536,三星转债,121.830,603578,三星新材,1.92,0.0,0.018,2019-05-31,2021-12-30,2025-05-30,2.6,强赎
3,113607,伟20转债,164.910,603568,伟明环保,12.00,0.0,0.005,2020-11-02,2021-12-28,2026-11-01,1.2,强赎
4,113528,长城转债,258.950,603897,长城科技,6.34,0.0,0.023,2019-03-01,2021-12-23,2025-03-01,2.8,强赎
5,123081,精研转债,149.000,300709,精研科技,5.70,0.0,0.384,2020-12-03,2021-12-17,2026-12-02,1.0,强赎

In [64]:
df=df.set_index('last_date',drop=True)

In [65]:
df.head()

,code,name,price,zgcode,zgname,zgprice,remain_scale,put_option,release_time,contact_end_date,duration_year,reseaon
last_date,,,,,,,,,,,,
2021-12-30,123053,宝通转债,132.101,300031,宝通科技,5.00,0.0,1.308,2020-06-05,2026-06-04,1.6,强赎
2021-12-30,113536,三星转债,121.830,603578,三星新材,1.92,0.0,0.018,2019-05-31,2025-05-30,2.6,强赎
2021-12-28,113607,伟20转债,164.910,603568,伟明环保,12.00,0.0,0.005,2020-11-02,2026-11-01,1.2,强赎
2021-12-23,113528,长城转债,258.950,603897,长城科技,6.34,0.0,0.023,2019-03-01,2025-03-01,2.8,强赎
2021-12-17,123081,精研转债,149.000,300709,精研科技,5.70,0.0,0.384,2020-12-03,2026-12-02,1.0,强赎

In [66]:
df_store=df[['code']]

In [67]:
df_store.head()

              code
last_date
2021-12-30  123053
2021-12-30  113536
2021-12-28  113607
2021-12-23  113528
2021-12-17  123081

In [68]:
import joblib

In [69]:
joblib.dump(df_store,'强赎20220108.job')

['强赎20220108.job']

In [71]:
df_store.resample('Y').count()

            code
last_date
2018-12-31     2
2019-12-31    19
2020-12-31    71
2021-12-31    71