In [5]:
df = pd.read_excel(r'C:\git\convertible_bond\data\强赎数据.xlsx',header=None)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,运达转债,123079,运达股份,300772,2020-12-01,5.8,NaN,5.3,0.43,0.075,0.8,271.000,涨超130强赎,2021-09-08,2026-12-01,6
1,2,光华转债,128051,光华科技,2741,2018-12-14,2.5,NaN,2.1,0.35,0.142,2.7,184.600,涨超130强赎,2021-09-07,2024-12-14,6
2,3,星源转2,123094,星源材质,300568,2021-01-20,10.0,NaN,9.5,0.53,0.053,0.6,261.303,涨超130强赎,2021-09-06,2027-01-20,6
3,4,骆驼转债,113012,骆驼股份,601311,2017-03-24,7.2,NaN,7.1,0.02,0.003,4.4,152.250,涨超130强赎,2021-09-02,2023-03-24,6
4,5,新凤转债,113508,新凤鸣,603225,2018-04-26,21.5,NaN,21.5,0.04,0.002,3.4,116.860,涨超130强赎,2021-08-31,2024-04-26,6

In [8]:
df_force_ = df[[1,2,3,14]]

In [9]:
df_force_

       1       2     3          14
0    运达转债  123079  运达股份 2021-09-08
1    光华转债  128051  光华科技 2021-09-07
2    星源转2  123094  星源材质 2021-09-06
3    骆驼转债  113012  骆驼股份 2021-09-02
4    新凤转债  113508   新凤鸣 2021-08-31
..    ...     ...   ...        ...
257  钢钒转债  125629  攀钢钒钛 2004-03-03
258  鞍钢转债  125898  鞍钢股份 2001-11-26
259  南化转债  100001  ST南化 2000-07-28
260  丝绸转债  125301  东方盛虹 2000-06-26
261  宝安转券  125009  中国宝安 1994-12-30

[262 rows x 4 columns]

In [10]:
df_force_=df_force_[df_force_[14]>'2018-01-01']

In [11]:
df_force_

         1       2     3          14
0      运达转债  123079  运达股份 2021-09-08
1      光华转债  128051  光华科技 2021-09-07
2      星源转2  123094  星源材质 2021-09-06
3      骆驼转债  113012  骆驼股份 2021-09-02
4      新凤转债  113508   新凤鸣 2021-08-31
..      ...     ...   ...        ...
145    江南转债  113010  江南水务 2019-01-28
146  15清控EB  132003  国金证券 2018-10-25
147  15天集EB  132002   天士力 2018-10-23
148    万信转债  123005  万达信息 2018-08-14
149    宝信转债  110039  宝信软件 2018-07-06

[150 rows x 4 columns]

In [15]:
mydf = df_force_[1].str.contains('B')

In [17]:
corrent_data_df = df_force_[~mydf]

In [18]:
corrent_data_df

       1       2     3          14
0    运达转债  123079  运达股份 2021-09-08
1    光华转债  128051  光华科技 2021-09-07
2    星源转2  123094  星源材质 2021-09-06
3    骆驼转债  113012  骆驼股份 2021-09-02
4    新凤转债  113508   新凤鸣 2021-08-31
..    ...     ...   ...        ...
143  景旺转债  113512  景旺电子 2019-04-23
144  三一转债  110032  三一重工 2019-03-19
145  江南转债  113010  江南水务 2019-01-28
148  万信转债  123005  万达信息 2018-08-14
149  宝信转债  110039  宝信软件 2018-07-06

[142 rows x 4 columns]

In [19]:
result_dict = dict(zip(corrent_data_df[2].tolist(),corrent_data_df[14].tolist()))

In [20]:
len(result_dict)

142

In [21]:
for k,v in result_dict.items():
    v1=str(v).replace(' 00:00:00','')
    print(f'"{k}":"{v1}",')

{123079: Timestamp('2021-09-08 00:00:00'),
 128051: Timestamp('2021-09-07 00:00:00'),
 123094: Timestamp('2021-09-06 00:00:00'),
 113012: Timestamp('2021-09-02 00:00:00'),
 113508: Timestamp('2021-08-31 00:00:00'),
 123033: Timestamp('2021-08-30 00:00:00'),
 128064: Timestamp('2021-08-24 00:00:00'),
 113509: Timestamp('2021-08-17 00:00:00'),
 123066: Timestamp('2021-08-13 00:00:00'),
 123007: Timestamp('2021-08-12 00:00:00'),
 113040: Timestamp('2021-08-02 00:00:00'),
 113611: Timestamp('2021-07-28 00:00:00'),
 128032: Timestamp('2021-07-27 00:00:00'),
 127023: Timestamp('2021-07-15 00:00:00'),
 113543: Timestamp('2021-07-09 00:00:00'),
 123058: Timestamp('2021-07-05 00:00:00'),
 110065: Timestamp('2021-07-01 00:00:00'),
 123029: Timestamp('2021-06-28 00:00:00'),
 113559: Timestamp('2021-06-25 00:00:00'),
 113041: Timestamp('2021-06-25 00:00:00'),
 110031: Timestamp('2021-05-28 00:00:00'),
 113564: Timestamp('2021-05-18 00:00:00'),
 128126: Timestamp('2021-05-11 00:00:00'),
 113557: Timestamp('2021-04-29 00:00:00'),
 110069: Timestamp('2021-04-27 00:00:00'),
 113038: Timestamp('2021-03-30 00:00:00'),
 128052: Timestamp('2021-03-23 00:00:00'),
 113029: Timestamp('2021-03-18 00:00:00'),
 128028: Timestamp('2021-03-05 00:00:00'),
 113590: Timestamp('2021-03-05 00:00:00'),
 113592: Timestamp('2021-03-05 00:00:00'),
 127008: Timestamp('2021-03-04 00:00:00'),
 113583: Timestamp('2021-03-04 00:00:00'),
 128112: Timestamp('2021-03-02 00:00:00'),
 128065: Timestamp('2021-03-01 00:00:00'),
 128010: Timestamp('2021-02-26 00:00:00'),
 123055: Timestamp('2021-02-24 00:00:00'),
 123017: Timestamp('2021-02-23 00:00:00'),
 128115: Timestamp('2021-02-23 00:00:00'),
 128110: Timestamp('2021-02-22 00:00:00'),
 113587: Timestamp('2021-02-22 00:00:00'),
 113035: Timestamp('2021-01-29 00:00:00'),
 113556: Timestamp('2021-01-25 00:00:00'),
 113586: Timestamp('2021-01-19 00:00:00'),
 113008: Timestamp('2021-01-18 00:00:00'),
 113032: Timestamp('2021-01-13 00:00:00'),
 128019: Timestamp('2021-01-06 00:00:00'),
 113520: Timestamp('2021-01-06 00:00:00'),
 128104: Timestamp('2021-01-04 00:00:00'),
 128102: Timestamp('2020-12-22 00:00:00'),
 113562: Timestamp('2020-12-18 00:00:00'),
 123026: Timestamp('2020-12-14 00:00:00'),
 113581: Timestamp('2020-12-10 00:00:00'),
 123036: Timestamp('2020-12-09 00:00:00'),
 113553: Timestamp('2020-12-03 00:00:00'),
 113555: Timestamp('2020-12-03 00:00:00'),
 123032: Timestamp('2020-11-30 00:00:00'),
 113521: Timestamp('2020-11-26 00:00:00'),
 113020: Timestamp('2020-11-26 00:00:00'),
 128058: Timestamp('2020-11-25 00:00:00'),
 128099: Timestamp('2020-11-18 00:00:00'),
 113571: Timestamp('2020-11-17 00:00:00'),
 128098: Timestamp('2020-11-09 00:00:00'),
 128067: Timestamp('2020-10-19 00:00:00'),
 128043: Timestamp('2020-10-16 00:00:00'),
 113028: Timestamp('2020-09-17 00:00:00'),
 113544: Timestamp('2020-09-17 00:00:00'),
 128092: Timestamp('2020-09-17 00:00:00'),
 113547: Timestamp('2020-09-15 00:00:00'),
 128084: Timestamp('2020-09-10 00:00:00'),
 113554: Timestamp('2020-09-10 00:00:00'),
 123037: Timestamp('2020-09-10 00:00:00'),
 110042: Timestamp('2020-09-07 00:00:00'),
 113019: Timestamp('2020-09-03 00:00:00'),
 123020: Timestamp('2020-09-03 00:00:00'),
 113514: Timestamp('2020-08-28 00:00:00'),
 113031: Timestamp('2020-08-28 00:00:00'),
 128045: Timestamp('2020-08-27 00:00:00'),
 113518: Timestamp('2020-08-27 00:00:00'),
 128086: Timestamp('2020-08-27 00:00:00'),
 123041: Timestamp('2020-08-27 00:00:00'),
 113022: Timestamp('2020-08-25 00:00:00'),
 128088: Timestamp('2020-08-19 00:00:00'),
 123040: Timestamp('2020-08-19 00:00:00'),
 113558: Timestamp('2020-08-18 00:00:00'),
 128089: Timestamp('2020-08-18 00:00:00'),
 128059: Timestamp('2020-08-14 00:00:00'),
 113552: Timestamp('2020-08-06 00:00:00'),
 128080: Timestamp('2020-08-03 00:00:00'),
 113551: Timestamp('2020-07-15 00:00:00'),
 128077: Timestamp('2020-07-14 00:00:00'),
 128054: Timestamp('2020-06-30 00:00:00'),
 113515: Timestamp('2020-06-17 00:00:00'),
 113511: Timestamp('2020-05-28 00:00:00'),
 113503: Timestamp('2020-05-26 00:00:00'),
 113531: Timestamp('2020-05-20 00:00:00'),
 128012: Timestamp('2020-04-28 00:00:00'),
 123021: Timestamp('2020-04-13 00:00:00'),
 110050: Timestamp('2020-04-08 00:00:00'),
 128055: Timestamp('2020-04-02 00:00:00'),
 113517: Timestamp('2020-03-30 00:00:00'),
 128016: Timestamp('2020-03-27 00:00:00'),
 123019: Timestamp('2020-03-25 00:00:00'),
 113510: Timestamp('2020-03-24 00:00:00'),
 113540: Timestamp('2020-03-24 00:00:00'),
 110046: Timestamp('2020-03-20 00:00:00'),
 123009: Timestamp('2020-03-19 00:00:00'),
 128038: Timestamp('2020-03-16 00:00:00'),
 110054: Timestamp('2020-03-16 00:00:00'),
 123016: Timestamp('2020-03-11 00:00:00'),
 113539: Timestamp('2020-03-10 00:00:00'),
 128061: Timestamp('2020-03-03 00:00:00'),
 113522: Timestamp('2020-02-27 00:00:00'),
 113538: Timestamp('2020-02-18 00:00:00'),
 128060: Timestamp('2020-02-12 00:00:00'),
 123003: Timestamp('2020-02-07 00:00:00'),
 113523: Timestamp('2020-02-05 00:00:00'),
 128068: Timestamp('2020-02-05 00:00:00'),
 128020: Timestamp('2020-01-23 00:00:00'),
 113533: Timestamp('2020-01-16 00:00:00'),
 110049: Timestamp('2019-12-16 00:00:00'),
 110030: Timestamp('2019-12-10 00:00:00'),
 113529: Timestamp('2019-11-21 00:00:00'),
 113507: Timestamp('2019-11-04 00:00:00'),
 128047: Timestamp('2019-10-15 00:00:00'),
 127009: Timestamp('2019-10-14 00:00:00'),
 123001: Timestamp('2019-10-10 00:00:00'),
 128027: Timestamp('2019-10-09 00:00:00'),
 127010: Timestamp('2019-09-18 00:00:00'),
 113015: Timestamp('2019-09-03 00:00:00'),
 128024: Timestamp('2019-08-21 00:00:00'),
 110040: Timestamp('2019-07-31 00:00:00'),
 113513: Timestamp('2019-07-04 00:00:00'),
 113018: Timestamp('2019-05-16 00:00:00'),
 123006: Timestamp('2019-05-10 00:00:00'),
 123008: Timestamp('2019-04-26 00:00:00'),
 113506: Timestamp('2019-04-26 00:00:00'),
 113512: Timestamp('2019-04-23 00:00:00'),
 110032: Timestamp('2019-03-19 00:00:00'),
 113010: Timestamp('2019-01-28 00:00:00'),
 123005: Timestamp('2018-08-14 00:00:00'),
 110039: Timestamp('2018-07-06 00:00:00')}